.footer-container {
    background: black;
    font-family: 'Bebas Neue', cursive;
}

/* Top Info Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Main Gradient Section */
.footer-hero {
    height: 80vh;
    background: linear-gradient(to bottom, #000000, #7a1e00, #c94b00);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* Big Text */
.big-text {
    font-size: 400px;
    font-weight: 900;
    color: #e6e6e6;
    letter-spacing: 5px;
}

/* Bottom Section */
.bottom-bar {
    background: #c94b00;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}
.bottom-links span {
    margin: 0 15px;
    cursor: pointer;
    letter-spacing: 2px;
}
/* Social Icons */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons svg {
    margin: 0 5px;
    font-size: 24px;   /* 88px was too large */
    cursor: pointer;
}

/* Copyright Link */
.copyright {
    color: white;
    /* text-decoration: underline; */
    letter-spacing: 2px;
}

/* Responsive */
@media (max-width: 1000px) {
    .top-bar,
    .bottom-bar {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .big-text {
        font-size: 100px;
        letter-spacing: 5px;
    }
}
