/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
} */

/* Section */
.freeclass-section{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-bottom: 100px;
}

/* Background */
.freeclass-section::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:url("../assets/triumph.png") no-repeat center center/cover;
    filter:brightness(0.5);
    z-index:0;
}

/* Middle Box */
.middle-box{
    position:relative;
    background:#d4f04a;
    width:60%;
    padding:50px;
    z-index:2;
    transform:scale(0.6);
    opacity:0;
    transition:all 0.8s ease;
    overflow:hidden;
}

/* Pop-up active */
.middle-box.active{
    transform:scale(1);
    opacity:1;
}

/* Heading */
.middle-box h1{
    font-size:60px;
    font-weight:900;
    color:black;
    line-height:1.1;
}

.middle-box p{
    margin-top:15px;
    font-size:18px;
    color: black;
}

/* Button */
.claim-btn{
    margin-top:40px;
    background:black;
    color:#d4f04a;
    padding:20px;
    font-size:18px;
    font-weight:bold;
    border:none;
    width:100%;
    cursor:pointer;

    transform:translateX(-30%);
    transition:transform 0.8s ease 0.4s;
}

/* Slide from LEFT */
.middle-box.active .claim-btn{
    transform:translateX(0);
}

.claim-btn span{
    float:right;
}
