/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

/* ===== MAIN CONTAINER ===== */
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../assets/3gin9vh8_cbse-_625x300_19_December_24.webp") center/cover no-repeat;
}

.main-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

/* ===== TOP SECTION ===== */
.top-section {
  height: 66.66vh;
  display: flex;
}

/* ===== LEFT SIDE ===== */
.left {
  flex: 2;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  overflow: hidden;
}

/* ===== HERO CONTENT ===== */
.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 900px;
  color: #fff;
}

.hero-content h2 {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 700;
  color: #d7ff45;
}

.typing {
  color: #ffffff;
  border-right: 3px solid #d7ff45;
  padding-right: 5px;
}

.hero-content p {
  margin-top: 20px;
  font-size: 18px;
  color: #ddd;
  line-height: 1.6;
}

/* ===== FLOATING BOX ===== */
.floating-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 200px;
  background: #d7ff45;
  color: #000;
  padding: 8px 20px;
  z-index: 5;
  box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.4);
}

.floating-box p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 600;
}

.floating-btn {
  background: #000;
  color: #d7ff45;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.floating-btn .arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.floating-btn:hover {
  background: #111;
}

.floating-btn:hover .arrow {
  transform: translateX(5px);
}

/* ===== RIBBON ===== */
.ribbon-wrapper {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom-left-ribbon {
  width: auto;
  height: 200px;
  margin: 0px;
  display: block;
}

/* ===== RESPONSIVE ===== */
@media(max-width: 768px) {
  .top-section {
    flex-direction: column;
    height: auto;
  }
}