/* ===== HEADER / NAVBAR ===== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 60px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.logo {
  color: #d8ff2f;
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 750;
}

.nav-right {
  margin-left: 58%;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}

.book-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d7ff45;
  color: #000;
  padding: 6px 30px;
  min-width: 280px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
  transition: background 0.3s ease;
}

.book-btn .arrow {
  font-size: 26px;
  transition: transform 0.3s ease;
}

.book-btn:hover .arrow {
  transform: translateX(6px);
}