@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background: #000;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Layout */
.registration-wrapper {
    margin-top: 60px;
  padding: 40px;
  display: flex;
  gap: 40px;
  background: #000;
  min-height: 100vh;
}

.main-content {
  flex: 3;
}

/* Title */
.title-box {
  text-align: center;
  margin-bottom: 40px;
}

.title-box h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 69px;
  color: #d9ff00;
  letter-spacing: 4px;
}

/* Filters */
.filter-section {
  margin-bottom: 30px;
  margin-left: 40px;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.filter-row span {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #d9ff00;
}

.filter-btn {
  padding: 8px 18px;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.filter-btn:hover {
  background: #333;
}

.filter-btn.active {
  background: #d9ff00;
  color: #000;
  font-weight: bold;
}

/* Table */
.table-box {
  border: 1px solid #222;
  border-radius: 25px;
  padding: 25px;
  background: #0a0a0a;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 14px;
  border-bottom: 1px solid #222;
  text-align: left;
}
.custom-table thead{
    color: #d9ff00;
}

.custom-table th {
  border-bottom: 1px solid #333;
}

.subject-row {
  background: #111;
  font-weight: bold;
}

.subject-row:hover {
  background: #1a1a1a;
}

.add-subject-btn {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  background: #d9ff00;
  font-weight: bold;
  cursor: pointer;
}

/* Cart Panel */
.cart-panel {
  flex: 1;
  position: sticky;
  top: 180px;
  height: 500px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
}

.cart-panel h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d9ff00;
  font-size: 30px;
}

.cart-items {
  max-height: 320px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.remove {
  color: red;
  cursor: pointer;
  margin-left: 8px;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.checkout {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #d9ff00;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}
.registration-wrapper {
  position: relative; /* important */
}

/* Top right cart icon */
.cart-icon-top {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: white;
  background: #111;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.cart-icon-top:hover {
  transform: scale(1.1);
}

/* Badge */
.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #d9ff00;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 7px;
  border-radius: 50%;
}