@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500;600&family=Inter:wght@400;500;600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Typography */

h1 {
  font-family: 'Bebas Neue', sans-serif;
}

h2, h3 {
  font-family: 'Oswald', sans-serif;
}

p, li, span, button, input {
  font-family: 'Inter', sans-serif;
}